* {
   margin: 0;
   padding: 0;
   border: 0;
} 
html, body {
   scroll-behavior: smooth;
   width: 100%;
   text-align: center;
   transition-timing-function: ease-in;   
}
.parallax {
   min-height: 600px;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.image-1 {
   background-image: url("https://images.unsplash.com/photo-1522252234503-e356532cafd5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2825&q=80");
}
.image-2 {
   background-image: url("https://images.unsplash.com/photo-1618005198919-d3d4b5a92ead?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1674&q=80");
}
.image-3 {
   background-image: url("https://images.unsplash.com/photo-1622547748225-3fc4abd2cca0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2232&q=80");
}
.image-4 {
   background-image: url("https://images.unsplash.com/photo-1622547748225-3fc4abd2cca0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2232&q=80");
}

.navls {
   position: fixed;
   width: 100%;
   list-style-type: none;
   overflow: hidden;
   background-color: transparent;
   opacity: .7;
   transition: padding 1s;
   transition: color 1s;
}
.navls:hover {
   background-color: #2b2d42;
   opacity: 1;
   border-radius: 10px;
   transition: padding 1s;
}  
li {
   float: right;
   list-style-type: none;
}

li a {
   display: block; 
   color: #edf2f4; 
   text-align: center;
   padding: 16px 18px;
   text-decoration: none;
   font-family: 'Courier New', monospace; 
}
 
li a:hover {
   background-color: #8d99ae;
   padding: 20px 20px;
   transition: color 1s;
   transition: padding 1s;
}  

h2 {
   font-family: 'Courier New', monospace;
   text-align: center;
   color: #edf2f4;
   padding-left: 10px;
   font-weight: lighter;
   position: relative; top: 12px;
   float: left;
} 

.code iframe{
   padding: 1%;
   
}
