* {
   margin: 0;
   padding: 0;
   border: 0;
} 
html, body {
   scroll-behavior: smooth;
   width: 100%;   
   text-align: center;
   transition-timing-function: ease-in;   
}
.parallax {
   min-height: 600px;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.image-1 {
   background-image: url("https://images.unsplash.com/photo-1522252234503-e356532cafd5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2825&q=80");
}
.image-2 {
   background-image: url("https://images.unsplash.com/photo-1618005198919-d3d4b5a92ead?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1674&q=80");
}
.image-3 {
   background-image: url("https://images.unsplash.com/photo-1622547748225-3fc4abd2cca0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2232&q=80");
}

.navls {
   position: fixed;
   width: 100%;
   list-style-type: none;
   overflow: hidden;
   background-color: transparent;
   opacity: .7;
   transition: 0.5s;
}
.navls:hover {
   background-color: #2b2d42;   
   background: rgba(43, 45, 66, .75);
   backdrop-filter: blur(4px);
   padding: 5px;
   opacity: 0.8;
   border-bottom: #f1f1f1 5px;
   transition: 1s;
}  
li {
   float: right;
   list-style-type: none;
}

li a {
   display: block; 
   color: #ffffff; 
   text-align: center;
   padding: 16px 18px;
   text-decoration: none;
   font-family: 'Courier New', monospace; 
   text-shadow: #555;
}
 
li a:hover {
   background-color: #8d99ae;
   transition: 1s;   
}  

h2 {
   font-family: 'Courier New', monospace;
   text-align: center;
   text-shadow: #555;
   color: #ffffff;
   padding-left: 10px;
   font-weight: lighter;
   position: relative; 
   top: 12px;
   float: left;
} 

h1 {
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-weight: lighter;
   text-shadow: 2px 3px 1px rgb(40, 40, 40, 0.8);
   color: #edf2f4;
   background: rgba(255, 255, 255, 0.05);
   backdrop-filter: blur(8px);
   padding: 30px 20px;
   border-radius: 20px;
   position: absolute;            
   top: 35%;   
   left: 50%;                      
   transform: translate(-50%, -50%);
}

::-webkit-scrollbar {
   width: 6px;
 }
 ::-webkit-scrollbar-track {
   box-shadow: inset 0 0 3px grey; 
   width: 80%;
     background: #f1f1f1;
 }
 ::-webkit-scrollbar-thumb {
   background: #8d99ae;
   opacity: .7;
 }
 ::-webkit-scrollbar-thumb:hover {
   background: #555;
 } 

.code iframe{
   padding: 1%;
}
.circles{
   position: absolute;  
   width: 100%;
   height: 100%;
   overflow: hidden;
   z-index: -1;
}

.circles li{
   position: absolute;
   display: block;
   list-style: none;
   width: 20px;
   height: 20px;
   background: rgba(0, 0, 0);
   animation: animate 25s linear infinite;
   bottom: -150px;
   
}

.circles li:nth-child(1){
   left: 25%;
   width: 80px;
   height: 80px;
   animation-delay: 0s;
}


.circles li:nth-child(2){
   left: 10%;
   width: 20px;
   height: 20px;
   animation-delay: 2s;
   animation-duration: 12s;
}

.circles li:nth-child(3){
   left: 70%;
   width: 20px;
   height: 20px;
   animation-delay: 4s;
}

.circles li:nth-child(4){
   left: 40%;
   width: 60px;
   height: 60px;
   animation-delay: 0s;
   animation-duration: 18s;
}

.circles li:nth-child(5){
   left: 10%;
   width: 20px;
   height: 20px;
   animation-delay: 0s;
}

.circles li:nth-child(6){
   left: 80%;
   width: 110px;
   height: 110px;
   animation-delay: 3s;
}

.circles li:nth-child(7){
   left: 15%;
   width: 150px;
   height: 150px;
   animation-delay: 7s;
}

.circles li:nth-child(8){
   left: 5%;
   width: 25px;
   height: 25px;
   animation-delay: 15s;
   animation-duration: 45s;
}

.circles li:nth-child(9){
   left: 20%;
   width: 15px;
   height: 15px;
   animation-delay: 2s;
   animation-duration: 35s;
}

.circles li:nth-child(10){
   left: 85%;
   width: 150px;
   height: 150px;
   animation-delay: 0s;
   animation-duration: 11s;
}

@keyframes animate {

   0%{
       transform: translateY(0) rotate(0deg);
       opacity: 1;
       border-radius: 50%;
   }

   100%{
       transform: translateY(-1000px) rotate(720deg);
       opacity: 0;
       border-radius: 80%;
   }

}